@font-face {
  font-family: black-burger;
  src: url("/assets/black-burger.rough.ttf");
}

@font-face {
  font-family: black-burger;
  font-weight: bold;
  src: url("/assets/black-burger.rough.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'black-burger', sans-serif;
  background-color: #79553e;
  height: 100vh;
}

.logo {
  margin-top: 40px;
  display: block;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.cupContainer {
  position: absolute;
  top: 10vh;
  left: 51vw;
  height: 300px;
  width: 240px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 15px;
}

.cupContainer .cupHolder {
  height: 60px;
  width: 120px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border-radius: 30px 30px 0 0;
  border: 15px solid #fffffff3;
  position: absolute;
  margin-right: -280px;
}

.cupContainer .cupBody {
  height: 280px;
  width: 240px;
  background-color: #fffffff3;
  border-radius: 15px;
}

.cupContainer .coffee {
  width: 210px;
  background-color: #79553e;
  height: 0;
  position: absolute;
  bottom: 9px;
  border-radius: 6px;
  max-height: 280px;
}

.btn-container {
  width: 240px;
  height: 300px;
  position: absolute;
  right: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-container .btn {
  font-family: 'black-burger', sans-serif;
  font-size: 25px;
  background-color: #79553e;
  color: white;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #C79F6D;
  border-radius: 12px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-container .btn span {
  margin-left: 12px;
}

.btn-container .btn .mug-img {
  width: 30px;
  height: 30px;
}

.btn-container .btn:hover {
  background-color: #C79F6D;
  border: 3px solid #9d7d56;
  cursor: pointer;
}

.mainContainer {
  margin-top: -50px;
}

.message {
  font-family: 'black-burger', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #79553e;
  color: white;
  margin: 15px 12vw 0 12vw;
  border: 3px solid #C79F6D;
  border-radius: 12px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 8px;
}
/*# sourceMappingURL=style.css.map */