@font-face { font-family: black-burger; src: url('/assets/black-burger.rough.ttf'); } 
@font-face { font-family: black-burger; font-weight: bold; src: url('/assets/black-burger.rough.ttf');}
*{
    margin:0;
    padding: 0;

}

body{
    font-family: 'black-burger', sans-serif;
    background-color: #79553e;
} 


.logo{
    margin-top: 50px;
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}


.cupContainer{
    position: absolute;
    top: 10vh;
    left: 51vw;
    height: 300px;
    width: 240px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;

    .cupHolder{
        height: 60px;
        width: 120px;
        transform: rotate(90deg);
        border-radius: 30px 30px 0 0;
        border: 15px solid #fffffff3;
        position: absolute;
        margin-right: -280px;
    }

    .cupBody{
        height: 300px;
        width: 240px;
        background-color: #fffffff3;
        border-radius: 15px;
    }

    .coffee {
        width: 210px;
        background-color: #79553e;
        height: 210px;
        position: absolute;
        bottom: 9px;
        border-radius: 6px;
      }
}

.btn-container{
    width: 240px;
    height: 300px;
    position: absolute;
    right: 120%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .btn-test{
        font-family: 'black-burger', sans-serif;
        font-size: 25px;
        background-color: #79553e;
        color: white;
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #C79F6D;
        border-radius: 12px;
    
    
        span{
            margin-left: 12px;
        }
    
        .mug-img{
            width: 30px;
            height: 30px;
        }
    
    
    }
    
    .btn-test:hover{
        background-color: #C79F6D;
        border: 3px solid #9d7d56;
        cursor: pointer;
        
    


  
    }

}